# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule Adyen.Api.AccountHolders do
  @moduledoc """
  API calls for all endpoints tagged `AccountHolders`.
  """

  alias Adyen.Connection
  import Adyen.RequestBuilder


  @doc """
  get-accountHolders-id
  Returns a specific account holder.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - id (String.t): Unique identifier of the account holder.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, Adyen.Model.AccountHolder1.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_account_holders_id(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.AccountHolder1.t} | {:ok, Adyen.Model.RestServiceError.t} | {:error, Tesla.Env.t}
  def get_account_holders_id(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/accountHolders/#{id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.AccountHolder1{}},
      { 400, %Adyen.Model.RestServiceError{}},
      { 401, %Adyen.Model.RestServiceError{}},
      { 403, %Adyen.Model.RestServiceError{}},
      { 422, %Adyen.Model.RestServiceError{}},
      { 500, %Adyen.Model.RestServiceError{}}
    ])
  end

  @doc """
  get-accountHolders-id-balanceAccounts
  Returns a paginated list of balance accounts associated with a specific account holder. To fetch multiple pages, use the query parameters.  For example, to limit the page to 5 balance accounts and to skip the first 10: `/accountHolders/{id}/balanceAccounts?limit=5&offset=10`.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - id (String.t): Unique identifier of the account holder.
  - opts (KeywordList): [optional] Optional parameters
    - :offset (integer()): The number of items that you want to skip.
    - :limit (integer()): The number of items returned per page, maximum 100 items. By default, the response returns 10 items per page.
  ## Returns

  {:ok, Adyen.Model.PaginatedBalanceAccountsResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_account_holders_id_balance_accounts(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.RestServiceError.t} | {:ok, Adyen.Model.PaginatedBalanceAccountsResponse.t} | {:error, Tesla.Env.t}
  def get_account_holders_id_balance_accounts(connection, id, opts \\ []) do
    optional_params = %{
      :"offset" => :query,
      :"limit" => :query
    }
    %{}
    |> method(:get)
    |> url("/accountHolders/#{id}/balanceAccounts")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.PaginatedBalanceAccountsResponse{}},
      { 400, %Adyen.Model.RestServiceError{}},
      { 401, %Adyen.Model.RestServiceError{}},
      { 403, %Adyen.Model.RestServiceError{}},
      { 422, %Adyen.Model.RestServiceError{}},
      { 500, %Adyen.Model.RestServiceError{}}
    ])
  end

  @doc """
  patch-accountHolders-id
  Updates a specific account holder. When updating an account holder resource, note that:  * If a parameter is not provided in the request, the parameter is left unchanged.  * When updating any parameter in the `contactDetails` object, you must send all other existing `contactDetails` parameters.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - id (String.t): Unique identifier of the account holder.
  - opts (KeywordList): [optional] Optional parameters
    - :body (AccountHolder1): 
  ## Returns

  {:ok, Adyen.Model.AccountHolder1.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec patch_account_holders_id(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.AccountHolder1.t} | {:ok, Adyen.Model.RestServiceError.t} | {:error, Tesla.Env.t}
  def patch_account_holders_id(connection, id, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:patch)
    |> url("/accountHolders/#{id}")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.AccountHolder1{}},
      { 400, %Adyen.Model.RestServiceError{}},
      { 401, %Adyen.Model.RestServiceError{}},
      { 403, %Adyen.Model.RestServiceError{}},
      { 422, %Adyen.Model.RestServiceError{}},
      { 500, %Adyen.Model.RestServiceError{}}
    ])
  end

  @doc """
  post-accountHolders
  Creates an account holder. This resource represents your user's entity within the balance platform.  For more information, refer to [Create accounts](https://docs.adyen.com/issuing/create-accounts).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (AccountHolderInfo): 
  ## Returns

  {:ok, Adyen.Model.AccountHolder1.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_account_holders(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.AccountHolder1.t} | {:ok, Adyen.Model.RestServiceError.t} | {:error, Tesla.Env.t}
  def post_account_holders(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/accountHolders")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.AccountHolder1{}},
      { 400, %Adyen.Model.RestServiceError{}},
      { 401, %Adyen.Model.RestServiceError{}},
      { 403, %Adyen.Model.RestServiceError{}},
      { 422, %Adyen.Model.RestServiceError{}},
      { 500, %Adyen.Model.RestServiceError{}}
    ])
  end

  @doc """
  post-closeAccountHolder
  Changes the [status of an account holder](https://docs.adyen.com/platforms/account-holders-and-accounts#account-holder-statuses) to **Closed**. This state is final. If an account holder is closed, you can't process transactions, pay out funds, or reopen it. If payments are made to an account of an account holder with a **Closed** status,the payments will be directed to your liable account.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (CloseAccountHolderRequest): 
  ## Returns

  {:ok, Adyen.Model.CloseAccountHolderResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_close_account_holder(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.CloseAccountHolderResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_close_account_holder(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/closeAccountHolder")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.CloseAccountHolderResponse{}},
      { 202, %Adyen.Model.CloseAccountHolderResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-closeStores
  Close one or more stores of the account holder.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (CloseStoresRequest): 
  ## Returns

  {:ok, Adyen.Model.GenericResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_close_stores(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.GenericResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_close_stores(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/closeStores")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.GenericResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-createAccountHolder
  Creates an account holder, which [represents the sub-merchant's entity](https://docs.adyen.com/platforms/account-structure#your-platform) in your platform. The details that you need to provide in the request depend on the sub-merchant's legal entity type. For more information, refer to [Account holder and accounts](https://docs.adyen.com/platforms/account-holders-and-accounts#legal-entity-types).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (CreateAccountHolderRequest): 
  ## Returns

  {:ok, Adyen.Model.CreateAccountHolderResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_create_account_holder(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.CreateAccountHolderResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_create_account_holder(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/createAccountHolder")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.CreateAccountHolderResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-getAccountHolder
  Retrieves the details of an account holder.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (GetAccountHolderRequest): 
  ## Returns

  {:ok, Adyen.Model.GetAccountHolderResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_get_account_holder(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.GetAccountHolderResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_get_account_holder(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/getAccountHolder")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.GetAccountHolderResponse{}},
      { 202, %Adyen.Model.GetAccountHolderResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-getTaxForm
  Generates a tax form for account holders operating in the US. For more information, refer to [Providing tax forms](https://docs.adyen.com/platforms/tax-forms).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (GetTaxFormRequest): 
  ## Returns

  {:ok, Adyen.Model.GetTaxFormResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_get_tax_form(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.GetTaxFormResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_get_tax_form(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/getTaxForm")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.GetTaxFormResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-suspendAccountHolder
  Changes the [status of an account holder](https://docs.adyen.com/platforms/account-holders-and-accounts#account-holder-statuses) to **Suspended**.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (SuspendAccountHolderRequest): 
  ## Returns

  {:ok, Adyen.Model.SuspendAccountHolderResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_suspend_account_holder(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.SuspendAccountHolderResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_suspend_account_holder(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/suspendAccountHolder")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.SuspendAccountHolderResponse{}},
      { 202, %Adyen.Model.SuspendAccountHolderResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-unSuspendAccountHolder
  Changes the [status of an account holder](https://docs.adyen.com/platforms/account-holders-and-accounts#account-holder-statuses) from **Suspended** to **Inactive**. Account holders can have a **Suspended** status if you suspend them through the [`/suspendAccountHolder`](https://docs.adyen.com/api-explorer/#/Account/v5/post/suspendAccountHolder) endpoint or if a KYC deadline expires.  You can only unsuspend account holders if they _do not_ have verification checks with a **FAILED** [`status`](https://docs.adyen.com/api-explorer/#/Account/latest/post/getAccountHolder__resParam_verification-accountHolder-checks-status).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (UnSuspendAccountHolderRequest): 
  ## Returns

  {:ok, Adyen.Model.UnSuspendAccountHolderResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_un_suspend_account_holder(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.UnSuspendAccountHolderResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_un_suspend_account_holder(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/unSuspendAccountHolder")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.UnSuspendAccountHolderResponse{}},
      { 202, %Adyen.Model.UnSuspendAccountHolderResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-updateAccountHolder
  Updates the `accountHolderDetails` and `processingTier` of an account holder, and adds bank accounts and shareholders.  When updating `accountHolderDetails`, parameters that are not included in the request are left unchanged except for the objects below.  * `metadata`: Updating the metadata replaces the entire object. This means that to update an existing key-value pair, you must provide the changes along with other existing key-value pairs.  When updating any field in the following objects, you must submit all the fields required for validation.   * `address`  * `fullPhoneNumber`  * `bankAccountDetails.BankAccountDetail`  * `businessDetails.shareholders.ShareholderContact`   For example, to update the `address.postalCode`, you must also submit the `address.country`, `.city`, `.street`, `.postalCode`, and possibly `.stateOrProvince` so that the address can be validated.  To add a bank account or shareholder, provide the bank account or shareholder details without a `bankAccountUUID` or a `shareholderCode`.  

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (UpdateAccountHolderRequest): 
  ## Returns

  {:ok, Adyen.Model.UpdateAccountHolderResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_update_account_holder(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.UpdateAccountHolderResponse.t} | {:ok, Adyen.Model.ServiceError.t} | {:error, Tesla.Env.t}
  def post_update_account_holder(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/updateAccountHolder")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.UpdateAccountHolderResponse{}},
      { 202, %Adyen.Model.UpdateAccountHolderResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end

  @doc """
  post-updateAccountHolderState
  Disables or enables the processing or payout state of an account holder.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (UpdateAccountHolderStateRequest): 
  ## Returns

  {:ok, Adyen.Model.GetAccountHolderStatusResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_update_account_holder_state(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError.t} | {:ok, Adyen.Model.GetAccountHolderStatusResponse.t} | {:error, Tesla.Env.t}
  def post_update_account_holder_state(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/updateAccountHolderState")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.GetAccountHolderStatusResponse{}},
      { 202, %Adyen.Model.GetAccountHolderStatusResponse{}},
      { 400, %Adyen.Model.ServiceError{}},
      { 401, %Adyen.Model.ServiceError{}},
      { 403, %Adyen.Model.ServiceError{}},
      { 422, %Adyen.Model.ServiceError{}},
      { 500, %Adyen.Model.ServiceError{}}
    ])
  end
end
