# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule Adyen.Api.Modifications do
  @moduledoc """
  API calls for all endpoints tagged `Modifications`.
  """

  alias Adyen.Connection
  import Adyen.RequestBuilder


  @doc """
  post-adjustAuthorisation
  Allows you to increase or decrease the authorised amount after the initial authorisation has taken place. This functionality enables for example tipping, improving the chances your authorisation will be valid, or charging the shopper when they have already left the merchant premises.  > This endpoint is part of our [classic API integration](https://docs.adyen.com/online-payments/classic-integrations/api-integration-ecommerce). > If you have a [newer integration](https://docs.adyen.com/online-payments), and are doing: > * [Asynchronous adjustments](https://docs.adyen.com/online-payments/adjust-authorisation#asynchronous-or-synchronous-adjustment), use the [`/payments/{paymentPspReference}/amountUpdates`](https://docs.adyen.com/api-explorer/#/CheckoutService/v67/post/payments/{paymentPspReference}/amountUpdates) endpoint on Checkout API. > * [Synchronous adjustments](https://docs.adyen.com/online-payments/adjust-authorisation#asynchronous-or-synchronous-adjustment), use this endpoint.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (AdjustAuthorisationRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_adjust_authorisation(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_adjust_authorisation(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/adjustAuthorisation")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end

  @doc """
  post-cancel
  Cancels the authorisation hold on a payment, returning a unique reference for this request. You can cancel payments after authorisation only for payment methods that support distinct authorisations and captures.  For more information, refer to [Cancel](https://docs.adyen.com/online-payments/classic-integrations/modify-payments/cancel).  > This endpoint is part of our [classic API integration](https://docs.adyen.com/online-payments/classic-integrations/api-integration-ecommerce). If using a [newer integration](https://docs.adyen.com/online-payments), use the [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-explorer/#/CheckoutService/payments/{paymentPspReference}/cancels) endpoint under Checkout API instead.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (CancelRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_cancel(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_cancel(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/cancel")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end

  @doc """
  post-cancelOrRefund
  Cancels a payment if it has not been captured yet, or refunds it if it has already been captured. This is useful when it is not certain if the payment has been captured or not (for example, when using auto-capture).  Do not use this endpoint for payments that involve:  * [Multiple partial captures](https://docs.adyen.com/online-payments/capture).  * [Split data](https://docs.adyen.com/platforms/processing-payments#providing-split-information) either at time of payment or capture for Adyen for Platforms.   Instead, check if the payment has been captured and make a corresponding [`/refund`](https://docs.adyen.com/api-explorer/#/Payment/refund) or [`/cancel`](https://docs.adyen.com/api-explorer/#/Payment/cancel) call.  For more information, refer to [Cancel or refund](https://docs.adyen.com/online-payments/classic-integrations/modify-payments/cancel-or-refund).  > This endpoint is part of our [classic API integration](https://docs.adyen.com/online-payments/classic-integrations/api-integration-ecommerce). If using a [newer integration](https://docs.adyen.com/online-payments), use the [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explorer/#/CheckoutService/payments/{paymentPspReference}/reversals) endpoint under Checkout API instead.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (CancelOrRefundRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_cancel_or_refund(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_cancel_or_refund(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/cancelOrRefund")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end

  @doc """
  post-cancels
  Cancels the authorisation on a payment that has not yet been [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a unique reference for this request. You get the outcome of the request asynchronously, in a [**TECHNICAL_CANCEL** webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).  If you want to cancel a payment using the [`pspReference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__resParam_pspReference), use the [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels) endpoint instead.  If you want to cancel a payment but are not sure whether it has been captured, use the [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.  For more information, refer to [Cancel](https://docs.adyen.com/online-payments/cancel).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :idempotency_key (String.t): A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
    - :body (CreateStandalonePaymentCancelRequest): 
  ## Returns

  {:ok, Adyen.Model.StandalonePaymentCancelResource.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_cancels(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError21.t} | {:ok, Adyen.Model.StandalonePaymentCancelResource.t} | {:error, Tesla.Env.t}
  def post_cancels(connection, opts \\ []) do
    optional_params = %{
      :"Idempotency-Key" => :headers,
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/cancels")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.StandalonePaymentCancelResource{}},
      { 201, %Adyen.Model.StandalonePaymentCancelResource{}},
      { 400, %Adyen.Model.ServiceError21{}},
      { 401, %Adyen.Model.ServiceError21{}},
      { 403, %Adyen.Model.ServiceError21{}},
      { 422, %Adyen.Model.ServiceError21{}},
      { 500, %Adyen.Model.ServiceError21{}}
    ])
  end

  @doc """
  post-capture
  Captures the authorisation hold on a payment, returning a unique reference for this request. Usually the full authorisation amount is captured, however it's also possible to capture a smaller amount, which results in cancelling the remaining authorisation balance.  Payment methods that are captured automatically after authorisation don't need to be captured. However, submitting a capture request on these transactions will not result in double charges. If immediate or delayed auto-capture is enabled, calling the capture method is not neccessary.  For more information refer to [Capture](https://docs.adyen.com/online-payments/classic-integrations/modify-payments/capture).  > This endpoint is part of our [classic API integration](https://docs.adyen.com/online-payments/classic-integrations/api-integration-ecommerce). If using a [newer integration](https://docs.adyen.com/online-payments), use the [`/payments/{paymentPspReference}/captures`](https://docs.adyen.com/api-explorer/#/CheckoutService/v67/post/payments/{paymentPspReference}/captures) endpoint on Checkout API instead.  

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (CaptureRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_capture(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_capture(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/capture")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end

  @doc """
  post-donate
  Schedules a new payment to be created (including a new authorisation request) for the specified donation using the payment details of the original payment.  > This endpoint is part of our [classic API integration](https://docs.adyen.com/online-payments/classic-integrations/api-integration-ecommerce). If using a [newer integration](https://docs.adyen.com/online-payments), use the [`/donations`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/donations) endpoint under Checkout API instead.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (DonationRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_donate(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_donate(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/donate")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end

  @doc """
  post-payments-paymentPspReference-amountUpdates
  Increases or decreases the authorised payment amount and returns a unique reference for this request. You get the outcome of the request asynchronously, in an [**AUTHORISATION_ADJUSTMENT** webhook](https://docs.adyen.com/development-resources/webhooks/understand-notifications#event-codes).  You can only update authorised amounts that have not yet been [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures).  The amount you specify in the request is the updated amount, which is larger or smaller than the initial authorised amount.  For more information, refer to [Authorisation adjustment](https://docs.adyen.com/online-payments/adjust-authorisation#use-cases).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - payment_psp_reference (String.t): The [`pspReference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__resParam_pspReference) of the payment.
  - opts (KeywordList): [optional] Optional parameters
    - :idempotency_key (String.t): A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
    - :body (CreatePaymentAmountUpdateRequest): 
  ## Returns

  {:ok, Adyen.Model.PaymentAmountUpdateResource.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_payments_payment_psp_reference_amount_updates(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.ServiceError21.t} | {:ok, Adyen.Model.PaymentAmountUpdateResource.t} | {:error, Tesla.Env.t}
  def post_payments_payment_psp_reference_amount_updates(connection, payment_psp_reference, opts \\ []) do
    optional_params = %{
      :"Idempotency-Key" => :headers,
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/payments/#{payment_psp_reference}/amountUpdates")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.PaymentAmountUpdateResource{}},
      { 201, %Adyen.Model.PaymentAmountUpdateResource{}},
      { 400, %Adyen.Model.ServiceError21{}},
      { 401, %Adyen.Model.ServiceError21{}},
      { 403, %Adyen.Model.ServiceError21{}},
      { 422, %Adyen.Model.ServiceError21{}},
      { 500, %Adyen.Model.ServiceError21{}}
    ])
  end

  @doc """
  post-payments-paymentPspReference-cancels
  Cancels the authorisation on a payment that has not yet been [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/paymentPspReference/captures), and returns a unique reference for this request. You get the outcome of the request asynchronously, in a [**CANCELLATION** webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).  If you want to cancel a payment but don't have the [`pspReference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__resParam_pspReference), use the [`/cancels`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/cancels) endpoint instead.  If you want to cancel a payment but are not sure whether it has been captured, use the [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.  For more information, refer to [Cancel](https://docs.adyen.com/online-payments/cancel).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - payment_psp_reference (String.t): The [`pspReference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__resParam_pspReference) of the payment that you want to cancel.
  - opts (KeywordList): [optional] Optional parameters
    - :idempotency_key (String.t): A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
    - :body (CreatePaymentCancelRequest): 
  ## Returns

  {:ok, Adyen.Model.PaymentCancelResource.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_payments_payment_psp_reference_cancels(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.PaymentCancelResource.t} | {:ok, Adyen.Model.ServiceError21.t} | {:error, Tesla.Env.t}
  def post_payments_payment_psp_reference_cancels(connection, payment_psp_reference, opts \\ []) do
    optional_params = %{
      :"Idempotency-Key" => :headers,
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/payments/#{payment_psp_reference}/cancels")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.PaymentCancelResource{}},
      { 201, %Adyen.Model.PaymentCancelResource{}},
      { 400, %Adyen.Model.ServiceError21{}},
      { 401, %Adyen.Model.ServiceError21{}},
      { 403, %Adyen.Model.ServiceError21{}},
      { 422, %Adyen.Model.ServiceError21{}},
      { 500, %Adyen.Model.ServiceError21{}}
    ])
  end

  @doc """
  post-payments-paymentPspReference-captures
   Captures an authorised payment and returns a unique reference for this request. You get the outcome of the request asynchronously, in a [**CAPTURE** webhook](https://docs.adyen.com/online-payments/capture#capture-notification).  You can capture either the full authorised amount or a part of the authorised amount. By default, any unclaimed amount after a partial capture gets cancelled. This does not apply if you enabled multiple partial captures on your account and the payment method supports multiple partial captures.  [Automatic capture](https://docs.adyen.com/online-payments/capture#automatic-capture) is the default setting for most payment methods. In these cases, you don't need to make capture requests. However, making capture requests for payments that are captured automatically does not result in double charges.  For more information, refer to [Capture](https://docs.adyen.com/online-payments/capture).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - payment_psp_reference (String.t): The [`pspReference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__resParam_pspReference) of the payment that you want to capture.
  - opts (KeywordList): [optional] Optional parameters
    - :idempotency_key (String.t): A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
    - :body (CreatePaymentCaptureRequest): 
  ## Returns

  {:ok, Adyen.Model.PaymentCaptureResource.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_payments_payment_psp_reference_captures(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.ServiceError21.t} | {:ok, Adyen.Model.PaymentCaptureResource.t} | {:error, Tesla.Env.t}
  def post_payments_payment_psp_reference_captures(connection, payment_psp_reference, opts \\ []) do
    optional_params = %{
      :"Idempotency-Key" => :headers,
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/payments/#{payment_psp_reference}/captures")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.PaymentCaptureResource{}},
      { 201, %Adyen.Model.PaymentCaptureResource{}},
      { 400, %Adyen.Model.ServiceError21{}},
      { 401, %Adyen.Model.ServiceError21{}},
      { 403, %Adyen.Model.ServiceError21{}},
      { 422, %Adyen.Model.ServiceError21{}},
      { 500, %Adyen.Model.ServiceError21{}}
    ])
  end

  @doc """
  post-payments-paymentPspReference-refunds
  Refunds a payment that has been [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a unique reference for this request. You get the outcome of the request asynchronously, in a [**REFUND** webhook](https://docs.adyen.com/online-payments/refund#refund-webhook).  You can refund either the full captured amount or a part of the captured amount. You can also perform multiple partial refunds, as long as their sum doesn't exceed the captured amount.  > Some payment methods do not support partial refunds. To learn if a payment method supports partial refunds, refer to the payment method page such as [cards](https://docs.adyen.com/payment-methods/cards#supported-cards), [iDEAL](https://docs.adyen.com/payment-methods/ideal), or [Klarna](https://docs.adyen.com/payment-methods/klarna).  If you want to refund a payment but are not sure whether it has been captured, use the [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.  For more information, refer to [Refund](https://docs.adyen.com/online-payments/refund).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - payment_psp_reference (String.t): The [`pspReference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__resParam_pspReference) of the payment that you want to refund.
  - opts (KeywordList): [optional] Optional parameters
    - :idempotency_key (String.t): A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
    - :body (CreatePaymentRefundRequest): 
  ## Returns

  {:ok, Adyen.Model.PaymentRefundResource.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_payments_payment_psp_reference_refunds(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.ServiceError21.t} | {:ok, Adyen.Model.PaymentRefundResource.t} | {:error, Tesla.Env.t}
  def post_payments_payment_psp_reference_refunds(connection, payment_psp_reference, opts \\ []) do
    optional_params = %{
      :"Idempotency-Key" => :headers,
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/payments/#{payment_psp_reference}/refunds")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.PaymentRefundResource{}},
      { 201, %Adyen.Model.PaymentRefundResource{}},
      { 400, %Adyen.Model.ServiceError21{}},
      { 401, %Adyen.Model.ServiceError21{}},
      { 403, %Adyen.Model.ServiceError21{}},
      { 422, %Adyen.Model.ServiceError21{}},
      { 500, %Adyen.Model.ServiceError21{}}
    ])
  end

  @doc """
  post-payments-paymentPspReference-reversals
  [Refunds](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/refunds) a payment if it has already been captured, and [cancels](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels) a payment if it has not yet been captured. Returns a unique reference for this request. You get the outcome of the request asynchronously, in a [**CANCEL_OR_REFUND** webhook](https://docs.adyen.com/online-payments/reverse#cancel-or-refund-webhook).  The reversed amount is always the full payment amount. > Do not use this request for payments that involve multiple partial captures.  For more information, refer to [Reversal](https://docs.adyen.com/online-payments/reversal).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - payment_psp_reference (String.t): The [`pspReference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__resParam_pspReference) of the payment that you want to reverse.
  - opts (KeywordList): [optional] Optional parameters
    - :idempotency_key (String.t): A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
    - :body (CreatePaymentReversalRequest): 
  ## Returns

  {:ok, Adyen.Model.PaymentReversalResource.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_payments_payment_psp_reference_reversals(Tesla.Env.client, String.t, keyword()) :: {:ok, Adyen.Model.PaymentReversalResource.t} | {:ok, Adyen.Model.ServiceError21.t} | {:error, Tesla.Env.t}
  def post_payments_payment_psp_reference_reversals(connection, payment_psp_reference, opts \\ []) do
    optional_params = %{
      :"Idempotency-Key" => :headers,
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/payments/#{payment_psp_reference}/reversals")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.PaymentReversalResource{}},
      { 201, %Adyen.Model.PaymentReversalResource{}},
      { 400, %Adyen.Model.ServiceError21{}},
      { 401, %Adyen.Model.ServiceError21{}},
      { 403, %Adyen.Model.ServiceError21{}},
      { 422, %Adyen.Model.ServiceError21{}},
      { 500, %Adyen.Model.ServiceError21{}}
    ])
  end

  @doc """
  post-refund
  Refunds a payment that has previously been captured, returning a unique reference for this request. Refunding can be done on the full captured amount or a partial amount. Multiple (partial) refunds will be accepted as long as their sum doesn't exceed the captured amount. Payments which have been authorised, but not captured, cannot be refunded, use the /cancel method instead.  Some payment methods/gateways do not support partial/multiple refunds. A margin above the captured limit can be configured to cover shipping/handling costs.  For more information, refer to [Refund](https://docs.adyen.com/online-payments/classic-integrations/modify-payments/refund).  > This endpoint is part of our [classic API integration](https://docs.adyen.com/online-payments/classic-integrations/api-integration-ecommerce). If using a [newer integration](https://docs.adyen.com/online-payments), use the [`/payments/{paymentPspReference}/refunds`](https://docs.adyen.com/api-explorer/#/CheckoutService/payments/{paymentPspReference}/refunds) endpoint under Checkout API instead.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (RefundRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_refund(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_refund(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/refund")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end

  @doc """
  post-technicalCancel
  This endpoint allows you to cancel a payment if you do not have the PSP reference of the original payment request available.  In your call, refer to the original payment by using the `reference` that you specified in your payment request.  For more information, see [Technical cancel](https://docs.adyen.com/online-payments/classic-integrations/modify-payments/cancel#technical-cancel).  > This endpoint is part of our [classic API integration](https://docs.adyen.com/online-payments/classic-integrations/api-integration-ecommerce). If using a [newer integration](https://docs.adyen.com/online-payments), use the [`/cancels`](https://docs.adyen.com/api-explorer/#/CheckoutService/cancels) endpoint under Checkout API instead.

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (TechnicalCancelRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_technical_cancel(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_technical_cancel(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/technicalCancel")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end

  @doc """
  post-voidPendingRefund
  This endpoint allows you to cancel the refund request before it has been completed.  In your call, you can refer to the original refund request either by using the `tenderReference`, or the `pspReference`. We recommend implementing based on the `tenderReference`, as this is generated for both offline and online transactions.  For more information, refer to [Cancel a refund](https://docs.adyen.com/point-of-sale/refund-payment/cancel-a-pos-refund-request).

  ## Parameters

  - connection (Adyen.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (VoidPendingRefundRequest): 
  ## Returns

  {:ok, Adyen.Model.ModificationResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec post_void_pending_refund(Tesla.Env.client, keyword()) :: {:ok, Adyen.Model.ServiceError1.t} | {:ok, Adyen.Model.ModificationResult.t} | {:error, Tesla.Env.t}
  def post_void_pending_refund(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/voidPendingRefund")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %Adyen.Model.ModificationResult{}},
      { 400, %Adyen.Model.ServiceError1{}},
      { 401, %Adyen.Model.ServiceError1{}},
      { 403, %Adyen.Model.ServiceError1{}},
      { 422, %Adyen.Model.ServiceError1{}},
      { 500, %Adyen.Model.ServiceError1{}}
    ])
  end
end
